body {
    font-family: sans-serif;
}

.card {
        box-shadow: 10px 10px 5px grey;
        width: 400px;
        border: 1px solid gray;
    }

    h1 {
        margin-left: 20px;
     }

      img {
          width: 90%;
           margin: auto;
                display: block;
            }

            .animal-info {
                border: 1px solid gray;
                width: 340px;
                margin: 15px auto 15px auto;
                padding: 10px;
            }
            
            ul {
                padding-left: 0;
                margin: 50px 0;
            }

            li {
                list-style-type: none;
                margin: 20px 0;
            }